
p .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header nav{
    display: flex;
    justify-content: space-between;

    a{
        display: inline-block;
        font-size: 17px;
        color: black;
        font-weight: 400;
        padding: 0 10px;
        text-decoration: none;
        min-width: 120px;
        text-align: center;
        border-bottom: solid 2px transparent;
    }

    a:hover {
        border-bottom: solid 2px yellow;
    }

    .item-submenu {
        position: relative;
    }

    .submenu {
        display: none;
        position: flex;
        border: 1px green;
        background-color: blueviolet;
        box-shadow: 0px 6px 15px -2px;
        border-radius: 3px;
        z-index: 1;
    }

    .submenu a{
        display: inline-block;
        text-align: left;
        padding: 12px 16px;
        border-bottom: solid 1px rgb(75, 75, 82);
        width: 300px;
    }

    .submenu a:last-child {
        border-bottom: 0;
    }
    .item-submenu:hover .submenu{
        display: block;
    }

header .container-right{
    display: flex;
    justify-content: start;
    align-items: right;

    .user{
        display: inline-block;
        border-radius: 15px;
        background-color: chartreuse;
        padding: 5px 15px;
        margin: 0 20px;
    }

    .conatiner-search{
        border: solid 1px #ccc;
        background-color: #1a232e;
    }

    #input-search{
        height: 300px;
        width: 300px;
        background-color: #1a232e;
        border: 0;
        color: white;
        font-size: 16px;
        padding: 16px;
    }

    .fa-search {
        background-color: #1d2b;
        color: white;
        font-size: 25px;
        font-weight: bolder;
        border: 0;
        padding: 4px;
    }

    }
}




body{
            background-color: white;
        }
        .card{
            position: relative;
            height: 240px;
            color: black;
            border: 1px solid gray;
            background-color: white;
        
            .info{
                padding: 0.8rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
              
            .ver-mas{
                background-color: blue;
                color: white;
                    padding: 4px;
                    border-radius: 5px;
                    font-weight: bolder;
                    margin-right: 7px;

            }
            }
            .description{
                padding: 0.8rem;
                font: normal 1rem arial;
                line-height: 1.2rem;
                text-align: justify;
            }


        }
        
        .film-container{
            display: grid;
            width: 70%;

            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }

        .contenedor{
            display: flex;
            padding-top: 30px;

            a{
                display: flex;
                font-weight: bold;

            }
            img{
                width: 50%;
                height: 90%;
            }
        }

        p2{
            padding-top: 20px;
            text-align: center;
            font-size: 35px;
        }



        
